// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.
 
// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:
 
// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels
 
// For more help, browse the DeviceTree documentation at https: //docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https: //nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html
&pinctrl {
 
   
 
    uart0_default_atl: uart0_default_atl {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 6)>,
                    <NRF_PSEL(UART_RTS, 0, 5)>;
 
        };
        group2 {
            psels = <NRF_PSEL(UART_RX, 0, 8)>,
                    <NRF_PSEL(UART_CTS, 0, 7)>;
            bias-pull-up;
        };
 
    };
 
    uart0_sleep_atl: uart0_sleep_atl {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 6)>,
                    <NRF_PSEL(UART_RX, 0, 8)>,
                    <NRF_PSEL(UART_RTS, 0, 5)>,
                    <NRF_PSEL(UART_CTS, 0, 7)>;
            low-power-enable;
        };
    };
 
    spi0_default_exflash: spi0_default_exflash{
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
 
        };
    };
 
    spi0_sleep_exflash: spi0_sleep_exflash {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 19)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>,
                    <NRF_PSEL(SPIM_MISO, 0, 21)>;
            low-power-enable;
        };
    };
 
    spi1_default_exflash: spi1_default_exflash{
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 5)>,
                    <NRF_PSEL(SPIM_MISO, 1, 4)>;
        };
    };
 
    spi1_sleep_exflash: spi1_sleep_exflash {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 6)>,
                    <NRF_PSEL(SPIM_MOSI, 1, 5)>,
                    <NRF_PSEL(SPIM_MISO, 1, 4)>;
            low-power-enable;
        };
    };
 
 
    i2c1_default_atl: i2c1_default_atl {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 15)>,
                    <NRF_PSEL(TWIM_SCL, 0, 24)>;
        };
    };
 
    i2c1_sleep_atl: i2c1_sleep_atl {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 15)>,
                    <NRF_PSEL(TWIM_SCL, 0, 24)>;
            low-power-enable;
        };
    };
};
 
 
 
/ {
    leds {
        compatible = "gpio-leds";
        led_g: led_g {
            gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
            label = "Green LED";
        };
        led_r: led_r {
            gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
            label = "Red LED";
        };
 
        led_b: led_b {
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
            label = "Blue LED";
        };
 
        led_0 {
            status = "disabled";
        };
 
        led_1 {
            status = "disabled";
        };
 
        led_2 {
            status = "disabled";
        };
 
        led_3 {
            status = "disabled";
        };
 
        relay_1: relay_1{
            gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
            label = "RELAY 1";
        };
 
        relay_2: relay_2{
            gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
            label = "RELAY 1";
        };
    };
 
 
    nrf_radio_fem: nrf21540_fem {
        compatible = "nordic,nrf21540-fem";
        tx-en-gpios = <&gpio0 03 GPIO_ACTIVE_HIGH>;
        rx-en-gpios = <&gpio0 02 GPIO_ACTIVE_HIGH>;
        pdn-gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
        mode-gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
        spi-if = <&fem_spi>;
    };
 
    buttons{
        button_0 {
            status = "disabled";
        };
        button_1 {
            status = "disabled";
        };
 
        button_2 {
            status = "disabled";
        };
 
        button_3 {
            status = "disabled";
        };
    };
 
    chosen {
        // uart0=&uart0;
        // zephyr,sram = &sram0;
        // zephyr,flash = &flash0;
        // zephyr,code-partition = &slot0_partition;
        // zephyr,ieee802154 = &ieee802154;
        nordic,pm-ext-flash = &w25q16jv;
       
    };
 
    aliases {
        ledr=&led_r;
        ledg=&led_g;
        ledb=&led_b;
        relay1 =&relay_1;
        relay2= &relay_2;
        // ledtest =&led_test;
        spi-flash0 = &w25q16jv;
    };
};
 
//
&uart0 {
    compatible = "nordic,nrf-uarte";
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default_atl>;
    pinctrl-1 = <&uart0_sleep_atl>;
    pinctrl-names = "default", "sleep";
    // nina_module: nina@0 {
    //  compatible = "u-blox,nina-w132-04b-00";
 
    //  // uart-rx = <6>;    /* GPIO pin 0.06 */
    //  // uart-tx = <8>;    /* GPIO pin 0.08 */
    //  // cts-pin = <7>;    /* GPIO pin 0.07 */
    //  // rts-pin = <5>;    /* GPIO pin 0.05 */
    //  // dsr-pin = <26>;   /* GPIO pin 0.26 */
    //  // reset-pin = <27>; /* GPIO pin 0.27 */
    //  // dtr-pin = <4>;    /* GPIO pin 0.04 */
    // };
};
 
&pwm0{
    status = "disabled";
};
 
&i2c0 {
    status = "disabled";
};
 
 
&spi0 {
    compatible = "nordic,nrf-spi";
    /* Cannot be used together with i2c0. */
    status = "okay";
    pinctrl-0 = <&spi0_default_exflash>;
    pinctrl-1 = <&spi0_sleep_exflash>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
    w25q16jv: w25q16jv@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
        label = "W25Q16JV";
		// fR = 50 Mhz
		spi-max-frequency = <50000000>;
		jedec-id = [ef 70 15];
		sfdp-bfp = [
			e5 20 f9 ff  ff ff ff 00  44 eb 08 6b  08 3b 42 bb
			fe ff ff ff  ff ff 00 00  ff ff 40 eb  0c 20 0f 52
			10 d8 00 00  36 02 a6 00  82 ea 14 b3  e9 63 76 33
			7a 75 7a 75  f7 a2 d5 5c  19 f7 4d ff  e9 30 f8 80
        	];
		size = <16777216>;
		has-dpd;
		// tdp = 3000 uS
		t-enter-dpd = <3000>;
		// tres1 = 3000 uS
		t-exit-dpd = <3000>;
	};	
};
 
fem_spi: &spi1 {
    status = "okay";
    cs-gpios = <&gpio1 02 GPIO_ACTIVE_LOW>;
    nrf_radio_fem_spi: nrf21540_fem_spi@0 {
       compatible = "nordic,nrf21540-fem-spi";
       status = "okay";
       reg = <0>;
       spi-max-frequency = <8000000>;
    };
 };
 
&spi1 {
    compatible = "nordic,nrf-spi";
    /* Cannot be used together with i2c0. */
    status = "okay";
    pinctrl-0 = <&spi1_default_exflash>;
    pinctrl-1 = <&spi1_sleep_exflash>;
    pinctrl-names = "default", "sleep";
    //
};
 
&i2c1 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c1_default_atl>;
    pinctrl-1 = <&i2c1_sleep_atl>;
    pinctrl-names = "default", "sleep";
    // rtc: rtc@51 {
        //     compatible = "epson,rx8130";
        //     reg = <0x51>;
        //     isw-gpios = <&gpio0 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    // };
 
};
 
&spi3 {
    status = "disabled";
};
 
&qspi {
    status = "disabled";
};
 